{% extends 'base.html.twig' %}

{% block title %}Katrin{% endblock %}

{% block stylesheets %}
	<link type="text/css" rel="stylesheet" href="/build.css?v=1.055">
	<link type="text/css" rel="stylesheet" href="/lib/jquery.fullpage.css">
{% endblock %}

{% block body %}
	<div class="background">
		<div id="app"></div>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:0;height:0;position:absolute;top:-9999999px;left:-9999999px;">
		<defs>
			<filter id="blur">
				<feGaussianBlur stdDeviation="5" />
			</filter>
		</defs>
	</svg>	
{% endblock %}

{% block javascripts %}
	<script src="/lib/jquery-2.2.0.min.js"></script>
	<script src="/lib/jquery-ui.js"></script>
	<script src="/lib/jquery.fullpage.min.js"></script>
	<script src="/lib/jquery.inputmask.bundle.min.js"></script>
	<script>
		var config = {{ config|raw }};
	</script>
	<script src="/build.js?v=1.055"></script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47572876 = new Ya.Metrika({ id:47572876, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/47572876" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
{% endblock %}
