.question input:active,
.question input:focus,
.radio:active,
.radio:focus,
.ui-datepicker-title select:focus,
button {
  outline: 0
}

@font-face {
  font-family: 'Century Gothic';
  src: url(font/font/CenturyGothic-Bold.eot);
  src: url(font/CenturyGothic-Bold.eot?#iefix) format('embedded-opentype'), url(font/CenturyGothic-Bold.woff2) format('woff2'), url(font/CenturyGothic-Bold.woff) format('woff'), url(font/CenturyGothic-Bold.ttf) format('truetype'), url(font/CenturyGothic-Bold.svg#CenturyGothic-Bold) format('svg');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'MADE Evolve Sans EVO';
  src: url(font/MADEEvolveSansEVO.eot);
  src: url(font/MADEEvolveSansEVO.eot?#iefix) format('embedded-opentype'), url(font/MADEEvolveSansEVO.woff2) format('woff2'), url(font/MADEEvolveSansEVO.woff) format('woff'), url(font/MADEEvolveSansEVO.ttf) format('truetype'), url(font/MADEEvolveSansEVO.svg#MADEEvolveSansEVO) format('svg');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'MADE Evolve Sans EVO';
  src: url(font/MADEEvolveSansEVO-Medium.eot);
  src: url(font/MADEEvolveSansEVO-Medium.eot?#iefix) format('embedded-opentype'), url(font/MADEEvolveSansEVO-Medium.woff2) format('woff2'), url(font/MADEEvolveSansEVO-Medium.woff) format('woff'), url(font/MADEEvolveSansEVO-Medium.ttf) format('truetype'), url(font/MADEEvolveSansEVO-Medium.svg#MADEEvolveSansEVO-Medium) format('svg');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: font-awesome;
  src: url(font/FONTAWESOME_1.OTF) format('opentype'), url(font/FONTAWESOME-WEBFONT_0.TTF) format('truetype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Poiret One';
  src: url(font/POIRETONE-REGULAR.TTF) format('truetype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'PT Sans';
  src: url(font/PT_SANS-WEB-REGULAR.TTF) format('truetype');
  font-weight: 400;
  font-style: normal
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

b,
strong {
  font-weight: 700
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  padding: 0;
  background: 0 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer
}

button::-moz-focus-inner {
  border: 0
}

html.fp-enabled, .fp-enabled body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.color {
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 3px;
  margin: 0 35px;
  border: 3px solid transparent
}

.color-0 {
  border-color: #000;
  -webkit-box-shadow: 0 0 5px 0 #000;
  box-shadow: 0 0 5px 0 #fff
}

.color-1 {
  border-color: #da2a24;
  -webkit-box-shadow: 0 0 5px 0 #da2a24;
  box-shadow: 0 0 5px 0 #da2a24
}

.color-2 {
  border-color: #e18c44;
  -webkit-box-shadow: 0 0 5px 0 #e18c44;
  box-shadow: 0 0 5px 0 #e18c44
}

.color-3 {
  border-color: #ffd943;

  -webkit-box-shadow: 0 0 5px 0 #ffd943;
  box-shadow: 0 0 5px 0 #ffd943
}

.color-4 {
  border-color: #74b87a;
  -webkit-box-shadow: 0 0 5px 0 #74b87a;
  box-shadow: 0 0 5px 0 #74b87a
}

.color-5 {
  border-color: #3eb5f1;
  -webkit-box-shadow: 0 0 5px 0 #3eb5f1;
  box-shadow: 0 0 5px 0 #3eb5f1
}

.color-6 {
  border-color: #363fc2;
  -webkit-box-shadow: 0 0 5px 0 #363fc2;
  box-shadow: 0 0 5px 0 #363fc2
}

.color-7 {
  border-color: #81589f;
  -webkit-box-shadow: 0 0 5px 0 #81589f;
  box-shadow: 0 0 5px 0 #81589f
}

.color-8 {
  border-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 #fff;
  box-shadow: 0 0 5px 0 #fff
}

.color-0.active {
  background-color: #000
}

.color-1.active {
  background-color: #da2a24
}

.color-2.active {
  background-color: #e18c44
}

.color-3.active {
  background-color: #ffd943
}

.color-4.active {
  background-color: #74b87a
}

.color-5.active {
  background-color: #3eb5f1
}

.color-6.active {
  background-color: #363fc2
}

.color-7.active {
  background-color: #81589f
}

.color-8.active {
  background-color: #fff
}

.background.color-background-0 {
  background: #000
}

.background.color-background-1 {
  background: #ff7d32;
  background: -webkit-radial-gradient(center, circle, #ff7d32 0, rgba(0, 0, 0, 0) 50%) 90% 80% no-repeat, -webkit-linear-gradient(315deg, #ff7d32 0, #fb0046 75%);
  background: -o-radial-gradient(center, circle, #ff7d32 0, rgba(0, 0, 0, 0) 50%) 90% 80% no-repeat, -o-linear-gradient(315deg, #ff7d32 0, #fb0046 75%);
  background: radial-gradient(circle at center, #ff7d32 0, rgba(0, 0, 0, 0) 50%) 90% 80% no-repeat, linear-gradient(135deg, #ff7d32 0, #fb0046 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7d32', endColorstr='#fb0046', GradientType=1);
  background-size: 600px 600px, 100%
}

.background.color-background-2 {
  background: #ff7d33;
  background: -webkit-linear-gradient(315deg, #ff7d33 0, #ff4d00 100%);
  background: -o-linear-gradient(315deg, #ff7d33 0, #ff4d00 100%);
  background: linear-gradient(135deg, #ff7d33 0, #ff4d00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7d33', endColorstr='#ff4d00', GradientType=1);
}

.background.color-background-3 {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #fadb0a 100%);
  background: -webkit-linear-gradient(left, #ffffff 0%,#fadb0a 100%);
  background: linear-gradient(to right, #ffffff 0%,#fadb0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fadb0a',GradientType=1 );
}

.background.color-background-4 {
  background: #92ff00;
  background: -moz-linear-gradient(left, #92ff00 0%, #002200 100%);
  background: -webkit-linear-gradient(left, #92ff00 0%,#002200 100%);
  background: linear-gradient(to right, #92ff00 0%,#002200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92ff00', endColorstr='#002200',GradientType=1 );
}

.background.color-background-5 {
  background: #00b6f4;
  background: -webkit-linear-gradient(315deg, #00b6f4 0, #0029ff 100%);
  background: -o-linear-gradient(315deg, #00b6f4 0, #0029ff 100%);
  background: linear-gradient(135deg, #00b6f4 0, #0029ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b6f4', endColorstr='#0029ff', GradientType=1)
}

.background.color-background-6 {
  background: #0900e5;
  background: -moz-linear-gradient(left, #0900e5 0%, #00001c 100%);
  background: -webkit-linear-gradient(left, #0900e5 0%,#00001c 100%);
  background: linear-gradient(to right, #0900e5 0%,#00001c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0900e5', endColorstr='#00001c',GradientType=1 );
}

.background.color-background-7 {
  background: -webkit-radial-gradient(50% 25%, circle, #481053, #1d0a29 60%);
  background: -o-radial-gradient(50% 25%, circle, #481053, #1d0a29 60%);
  background: radial-gradient(circle at 50% 25%, #481053, #1d0a29 60%)
}

.background.color-background-8 {
  background: #fff
}

.color-background-3 .logo,
.color-background-8 .logo {
  background-image: url(img/logoBlack.png)
}

.color-background-3 .question .question-text,
.color-background-3 .question.question-start .question-text,
.color-background-3 .radio:checked+label,
.color-background-8 .question .question-text,
.color-background-8 .question.question-start .question-text,
.color-background-8 .radio:checked+label {
  color: #d20000
}

.color-background-3 .radio:not(checked)+label,
.color-background-8 .radio:not(checked)+label {
  color: #000
}

.background.color-background-3 .radio:not(checked)+label:before,
.background.color-background-8 .radio:not(checked)+label:before {
  border-color: #000
}

.background.color-background-3 .radio+label:hover:before,
.background.color-background-3 .radio:checked+label:before,
.background.color-background-8 .radio+label:hover:before,
.background.color-background-8 .radio:checked+label:before {
  border-color: #d20000;
  background: #d20000;
  -webkit-box-shadow: 0 0 20px 0 #d20000;
  box-shadow: 0 0 20px 0 #d20000
}

.background.color-background-3 .question-radio-random-2 label:after,
.background.color-background-8 .question-radio-random-2 label:after {
  border-color: #000!important
}

.background.color-background-3 button,
.background.color-background-8 button {
  color: #383838
}

.background.color-background-0 .radio:not(checked)+label:before,
.datepicker--btm .background.color-background-0~.ui-datepicker::before {
  background: #000
}

.background.color-background-1 .radio:not(checked)+label:before,
.datepicker--btm .background.color-background-1~.ui-datepicker::before {
  background: #e42842
}

.background.color-background-2 .radio:not(checked)+label:before,
.datepicker--btm .background.color-background-2~.ui-datepicker::before {
  background: #f2672c
}

.background.color-background-3 .radio:not(checked)+label:before,
.datepicker--btm .background.color-background-3~.ui-datepicker::before {
  background: #fff470
}

.background.color-background-4 .radio:not(checked)+label:before,
.datepicker--btm .background.color-background-4~.ui-datepicker::before {
  background: #88cc2c
}

.background.color-background-5 .radio:not(checked)+label:before,
.datepicker--btm .background.color-background-5~.ui-datepicker::before {
  background: #257ef7
}

.background.color-background-6 .radio:not(checked)+label:before,
.datepicker--btm .background.color-background-6~.ui-datepicker::before {
  background: #001eab
}

.background.color-background-7 .radio:not(checked)+label:before,
.datepicker--btm .background.color-background-7~.ui-datepicker::before {
  background: #2f143f
}

.background.color-background-8 .radio:not(checked)+label:before,
.datepicker--btm .background.color-background-8~.ui-datepicker::before {
  background: #f9f9f9
}

.background.color-background-0 .radio+label:hover:before,
.background.color-background-0 .radio:checked+label:before,
.background.color-background-1 .radio+label:hover:before,
.background.color-background-1 .radio:checked+label:before,
.background.color-background-2 .radio+label:hover:before,
.background.color-background-2 .radio:checked+label:before,
.background.color-background-4 .radio+label:hover:before,
.background.color-background-4 .radio:checked+label:before,
.background.color-background-5 .radio+label:hover:before,
.background.color-background-5 .radio:checked+label:before,
.background.color-background-6 .radio+label:hover:before,
.background.color-background-6 .radio:checked+label:before,
.background.color-background-7 .radio+label:hover:before,
.background.color-background-7 .radio:checked+label:before {
  background: #fff343;
  color: #fff343;
}

.background.color-background-3 .question-form .question-input .question-input__date:after,
.background.color-background-3 .question-form .question-input .question-input__time:after,
.background.color-background-8 .question-form .question-input .question-input__date:after,
.background.color-background-8 .question-form .question-input .question-input__time:after {
  color: #d20000
}

.background.color-background-3 .question .question-text .text,
.background.color-background-3 .question--countdown .qc__time span,
.background.color-background-3 .question--countdown .question-text>div,
.background.color-background-3 button.calendar::before,
.background.color-background-3~.ui-datepicker,
.background.color-background-3~.ui-datepicker .ui-datepicker-title select,
.background.color-background-3~.ui-datepicker td a,
.background.color-background-3~.ui-datepicker thead,
.background.color-background-8 .question .question-text .text,
.background.color-background-8 .question--countdown .qc__time span,
.background.color-background-8 .question--countdown .question-text>div,
.background.color-background-8 button.calendar::before,
.background.color-background-8~.ui-datepicker,
.background.color-background-8~.ui-datepicker .ui-datepicker-title select,
.background.color-background-8~.ui-datepicker td a,
.background.color-background-8~.ui-datepicker thead {
  color: #000
}

.background.color-background-3 .question .date-input input:focus,
.background.color-background-3 .question-form .question-input .calendar~div input[type=text]:focus,
.background.color-background-8 .question .date-input input:focus,
.background.color-background-8 .question-form .question-input .calendar~div input[type=text]:focus {
  border-color: #d20000
}

.background.color-background-3~.ui-datepicker .ui-datepicker-title,
.background.color-background-8~.ui-datepicker .ui-datepicker-title {
  border-color: #000
}

.background.color-background-3 .question--countdown .question-text>.qc__time,
.background.color-background-8 .question--countdown .question-text>.qc__time {
  color: #d20000
}

.background.color-background-3 .question input,
.background.color-background-3+.ui-datepicker,
.background.color-background-3+.ui-datepicker .ui-datepicker-calendar,
.background.color-background-3+.ui-datepicker .ui-datepicker-title select,
.background.color-background-3+.ui-datepicker td a,
.background.color-background-8 .question input,
.background.color-background-8+.ui-datepicker,
.background.color-background-8+.ui-datepicker .ui-datepicker-calendar,
.background.color-background-8+.ui-datepicker .ui-datepicker-title select,
.background.color-background-8+.ui-datepicker td a {
  color: #383838
}

.background.color-background-3 .progress-bar span,
.background.color-background-8 .progress-bar span {
  border-color: #d20000
}

.background.color-background-3 .progress-bar span.active,
.background.color-background-8 .progress-bar span.active {
  background: #d20000
}

.background.color-background-2 .question-radio-random-2 label:after {
  border-color: #fff!important
}

.background.color-background-3+.ui-datepicker .ui-datepicker-title,
.background.color-background-8+.ui-datepicker .ui-datepicker-title {
  border-bottom: 1px solid #383838
}

.background.color-background-3+.ui-datepicker td a.ui-state-active,
.background.color-background-8+.ui-datepicker td a.ui-state-active {
  border: 1px solid #383838
}

.background.color-background-3 .question-button-first .btn:nth-child(2),
.background.color-background-8 .question-button-first .btn:nth-child(2),
.background.color-background-3 .question-result .btn,
.background.color-background-8 .question-result .btn {
  color: #d20000;
}

::-webkit-input-placeholder {
  color: #fff
}

::-moz-placeholder {
  color: #fff
}

::-ms-input-placeholder {
  color: #fff
}

.background.color-background-3 ::-webkit-input-placeholder,
.background.color-background-8 ::-webkit-input-placeholder {
  color: #000
}

,
.background.color-background-3 ::-moz-placeholder,
.background.color-background-8 ::-moz-placeholder {
  color: #000
}

.background.color-background-3 ::-ms-input-placeholder,
.background.color-background-8 ::-ms-input-placeholder {
  color: #000
}

.background.color-background-3 ::-moz-placeholder,
.background.color-background-8 ::-moz-placeholder {
  color: #000
}

.background.color-background-3 .btn-triple path,
.background.color-background-8 .btn-triple path {
  fill: rgba(56, 56, 56, .2);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s
}

.background.color-background-3 .btn-triple.active path,
.background.color-background-8 .btn-triple.active path {
  fill: #d20000;
  stroke: none
}

.background.color-background-3 .question-submit .btn path,
.background.color-background-8 .question-submit .btn path {
  stroke: rgba(56, 56, 56, .7);
  fill: none
}

.background.color-background-3 .question-submit .btn g:nth-child(1) path,
.background.color-background-3 .question-submit .btn g:nth-child(5) path,
.background.color-background-8 .question-submit .btn g:nth-child(1) path,
.background.color-background-8 .question-submit .btn g:nth-child(5) path {
  fill: rgba(56, 56, 56, .7);
  stroke: none
}

.background.color-background-3 .question-submit .btn:hover path,
.background.color-background-8 .question-submit .btn:hover path {
  stroke: rgba(56, 56, 56, 1);
  fill: none
}

.background.color-background-3 .question-submit .btn:hover g:nth-child(1) path,
.background.color-background-3 .question-submit .btn:hover g:nth-child(5) path,
.background.color-background-38 .question-submit .btn:hover g:nth-child(1) path,
.background.color-background-8 .question-submit .btn:hover g:nth-child(5) path {
  fill: rgba(56, 56, 56, 1);
  stroke: none
}

.background.color-background-3 .question-submit.disable .btn path,
.background.color-background-8 .question-submit.disable .btn path {
  stroke: rgba(56, 56, 56, .3);
  fill: none
}

.background.color-background-3 .question-submit.disable .btn g:nth-child(1) path,
.background.color-background-8 .question-submit.disable .btn g:nth-child(1) path {
  fill: rgba(56, 56, 56, .3);
  stroke: none
}

.background.color-background-3 .question-submit.disable .btn:hover path,
.background.color-background-8 .question-submit.disable .btn:hover path {
  stroke: rgba(56, 56, 56, .3);
  fill: none
}

.background.color-background-3 .question-submit.disable .btn:hover g:nth-child(1) path,
.background.color-background-8 .question-submit.disable .btn:hover g:nth-child(1) path {
  fill: rgba(56, 56, 56, .3);
  stroke: none
}

.background.color-background-3 .question-submit.disable .btn g:nth-child(5) path,
.background.color-background-3 .question-submit.disable .btn:hover g:nth-child(5) path,
.background.color-background-8 .question-submit.disable .btn g:nth-child(5) path,
.background.color-background-8 .question-submit.disable .btn:hover g:nth-child(5) path {
  fill: none;
  stroke: none
}

.background.color-background-3 .calendar:before,
.background.color-background-3 .question-ritmomera .down:before,
.background.color-background-8 .calendar:before,
.background.color-background-8 .question-ritmomera .down:before {
  color: #383838
}

.background.color-background-3 .policy,
.background.color-background-8 .policy {
  color: rgba(56, 56, 56, .4);
  font-family: 'PT Sans';
  font-size: 1.4em;
  position: absolute;
  bottom: 20px;
  right: 20px
}

.ui-datepicker,
.ui-datepicker-title select {
  font-family: "PT Sans"
}

.background.color-background-3 .policy:hover,
.background.color-background-8 .policy:hover {
  color: rgba(56, 56, 56, .8)
}

.background.color-background-3 .question-button .btn:before,
.background.color-background-3 .question-button-first .btn:first-child::before,
.background.color-background-8 .question-button .btn:before,
.background.color-background-8 .question-button-first .btn:first-child::before {
  background: url(img/arrowB.png);
  background-size: 100% 100%
}

.background.color-background-3 .sound.unmute,
.background.color-background-8 .sound.unmute {
  background: url(img/unmuteB.png) no-repeat;
  background-size: 100%
}

.background.color-background-3 .sound.mute,
.background.color-background-8 .sound.mute {
  background: url(img/muteB.png) no-repeat;
  background-size: 100%
}

.background.color-background-3 .question-radio-random-1 .radio:not(checked)+label:nth-child(4):after,
.background.color-background-8 .question-radio-random-1 .radio:not(checked)+label:nth-child(4):after {
  background-image: url(img/triangleB.png)
}

.background.color-background-3 .question-radio-random-3 .radio:not(checked)+label:nth-child(4):after,
.background.color-background-8 .question-radio-random-3 .radio:not(checked)+label:nth-child(4):after {
  background-image: url(img/triangle2B.png)
}

.background.color-background-3 .question-quadro .radio:not(checked)+label:nth-child(6):after,
.background.color-background-8 .question-quadro .radio:not(checked)+label:nth-child(6):after {
  background-image: url(img/quadroB.png)
}

.background.color-background-3 .sfera div,
.background.color-background-8 .sfera div {
  border-bottom: 1px solid rgba(56, 56, 56, .5)!important
}

.background.color-background-3 .sfera.love:before,
.background.color-background-8 .sfera.love:before {
  background: url(/img/love_black.png)
}

.background.color-background-3 .sfera.money:before,
.background.color-background-8 .sfera.money:before {
  background: url(/img/money_black.png)
}

.background.color-background-3 .sfera.health:before,
.background.color-background-8 .sfera.health:before {
  background: url(/img/health_black.png)
}

.background.color-background-3 .sfera.selfknowledge:before,
.background.color-background-8 .sfera.selfknowledge:before {
  background: url(/img/selfknowledge_black.png)
}

.background.color-background-3 button .arrow--play svg .cls-2,
.background.color-background-8 button .arrow--play svg .cls-2 {
  stroke: #000;
  fill: transparent;
  transition: fill .5s;
}

.background.color-background-3 button:hover .arrow--play svg .cls-2,
.background.color-background-8 button:hover .arrow--play svg .cls-2 {
  stroke: #f50000;
  fill: #f50000;
}


.ui-datepicker {
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  display: none
}

.ui-datepicker-title {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #fff
}

.ui-datepicker-calendar {
  color: #fff
}

.ui-datepicker th {
  padding: 10px 5px 5px;
  font-weight: 700
}

.ui-datepicker td {
  padding: 3px
}

.ui-datepicker td a {
  color: #fff;
  text-decoration: none;
  padding: 3px;
  display: block;
  border-radius: 5px;
  text-align: right
}

.ui-datepicker td a.ui-state-active {
  border: 1px solid #fff
}

.ui-datepicker .ui-datepicker-prev {
  left: 15px;
  font-size: 1.4em;
  position: absolute;
  cursor: pointer
}

.ui-datepicker .ui-datepicker-next {
  right: 15px;
  font-size: 1.4em;
  position: absolute;
  cursor: pointer
}

.ui-datepicker-title select {
  padding: 5px;
  background: 0 0;
  border: none;
  color: #fff;
  font-size: 1.1em
}

.ui-datepicker-title option {
  background-color: #282d34;
  color: #fff
}

.ui-datepicker.date {
  margin-left: 340px;
  margin-top: -40px;
  padding-top: 0;
  background: rgba(255, 255, 255, .1);
  border-radius: 3px
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  top: 6px
}

.datepicker--btm .ui-datepicker {
  margin-left: 0;
  margin-top: 10px;
  position: relative
}

.datepicker--btm .ui-datepicker::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1d0a29;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: -1
}

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0
}

.radio+label {
  cursor: pointer;
  color: #fff
}

.radio:not(checked) {
  position: absolute;
  opacity: 0;
  z-index: -1
}

.radio:not(checked)+label {
  position: relative;
  padding: 0
}

.radio:not(checked)+label:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 50%;
  width: 15px;
  height: 15px;
  margin-left: -11px;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 50%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 2;
  background: #2f143f
}

.radio+label:hover:before,
.radio:checked+label:before {
  background: #fff343;
  border-color: #fff343;
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 242, 67, 1);
  box-shadow: 0 0 20px 0 rgba(255, 242, 67, 1)
}

.radio:checked+label:after {
  opacity: 1
}

.question.question-start .question-text {
  font-family: 'Century Gothic';
  font-weight: 700;
  text-transform: uppercase;
  color: #ffd943;
  letter-spacing: .771em;
  font-size: 4em
}

.question.question-start .question-text p {
  letter-spacing: .2em
}

.question.question-gender .question-input {
  margin: 250px auto 100px
}

.question.question-dateBirth .question-input {
  margin: 130px auto 100px
}

.question.question-dateBirth .question-input input {
  font-size: 25px
}

.question-gender label:before {
  content: none!important
}

.question-gender label:after {
  top: -30px;
  margin-left: -25px;
  z-index: 30;
  width: 50px;
  height: 75px;
  content: "";
  position: absolute;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

.question-gender label:nth-child(2):after,
.question-gender label:nth-child(4):after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent
}

.question-gender label:nth-child(2):after {
  right: 100px;
  border-bottom: 25px solid #fff
}

.question-gender label:nth-child(4):after {
  left: 100px;
  border-top: 25px solid #fff
}

.question-gender .radio+label:nth-child(2):hover:after,
.question-gender .radio:checked+label:nth-child(2):after {
  border-bottom-color: #ffd943
}

.question-gender .radio+label:nth-child(4):hover:after,
.question-gender .radio:checked+label:nth-child(4):after {
  border-top-color: #ffd943
}

.question.question-radio .question-input {
  max-width: 1200px
}

.question-radio .radio:not(checked)+label {
  max-width: 500px;
  display: block;
  text-align: center;
  padding: 0 30px;
  border-radius: 3px;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s
}

.question-radio.question-radio-random-1 .radio:not(checked)+label,
.question-radio.question-radio-random-3 .radio:not(checked)+label {
  padding: 30px
}

.question.question-radio .radio+label:hover,
.question.question-radio .radio:checked+label {
  color: #fff343
}

.background.color-background-3 .question.question-radio .radio+label:hover,
.background.color-background-3 .question.question-radio .radio:checked+label,
.background.color-background-8 .question.question-radio .radio+label:hover,
.background.color-background-8 .question.question-radio .radio:checked+label {
  color: #d20000
}

@media (min-width:1200px) {
  .question-radio-random-1 input {
    margin: 60px
  }
  .question-radio-random-1 .radio:not(checked)+label:nth-child(2) {
    margin: 0 auto
  }
  .question-radio-random-1 .radio:not(checked)+label:nth-child(4) {
    margin: 60px 60px 0 10px;
    width: 450px;
    display: inline-block;
    vertical-align: top;
    text-align: right
  }
  .question-radio-random-1 .radio:not(checked)+label:nth-child(6) {
    margin: 60px 10px 0 60px;
    width: 450px;
    display: inline-block;
    vertical-align: top;
    text-align: left
  }
  .question-radio-random-1 .radio:not(checked)+label:nth-child(2):before {
    bottom: -12px;
    top: auto;
    left: 50%;
    margin-left: -11px
  }
  .question-radio-random-1 .radio:not(checked)+label:nth-child(4):before {
    bottom: auto;
    top: auto;
    left: auto;
    right: -12px
  }
  .question-radio-random-1 .radio:not(checked)+label:nth-child(6):before {
    bottom: auto;
    top: auto;
    right: auto;
    left: 0
  }
  .question-radio-random-1 .radio:not(checked)+label:nth-child(4):after {
    content: "";
    background: url(img/triangle.png) bottom center no-repeat;
    background-size: 100%;
    width: 110px;
    height: 96px;
    top: -55px;
    left: 100%;
    position: absolute;
    margin-left: 3px;
    z-index: -1
  }
  .question.question-radio-random-2 .question-input {
    margin-top: 220px
  }
  .question-radio-random-2 input {
    margin: 0 200px
  }
  .question-radio-random-2 .radio:not(checked)+label {
    display: inline-block;
    border: none;
    width: 300px;
    vertical-align: top
  }
  .question-dbl.question-radio-random-2 .radio:not(checked)+label,
  .question-dbl.question-radio-random-2 .radio:not(checked)+label::after {
    width: 100px!important;
    letter-spacing: .771em
  }
  .question-radio-random-2 .radio:checked+label,
  .question-radio-random-2 .radio:not(checked)+label:hover {
    border: none
  }
  .question-radio-random-2 .radio:not(checked)+label:last-child::after,
  .question-radio-random-2 .radio:not(checked)+label:nth-child(2)::after,
  .question-radio-random-2 .radio:not(checked)+label:nth-child(4)::after {
    top: -23px;
    height: 11px;
    border-top: 3px solid rgba(255, 255, 255);
    z-index: 1;
    content: "";
    position: absolute
  }
  .question-radio-random-2 .radio:not(checked)+label:nth-child(2)::after {
    left: calc(50% + 6px);
    width: 200px
  }
  .question-radio-random-2 .radio:not(checked)+label:nth-child(4)::after {
    left: -23px;
    width: 400px
  }
  .question-radio-random-2 .radio:not(checked)+label:last-child::after {
    right: calc(50% + 10px);
    left: inherit;
    width: 200px
  }
  .question-radio-random-3 input {
    margin: 105px
  }
  .question-radio-random-3 .radio:not(checked)+label {
    border: none;
    width: 300px
  }
  .question-radio-random-3 .radio:checked+label,
  .question-radio-random-3 .radio:not(checked)+label:hover {
    border: none
  }
  .question-radio-random-3 .radio:not(checked)+label:nth-child(2) {
    margin: 0 auto
  }
  .question-radio-random-3 .radio:not(checked)+label:nth-child(4) {
    margin: 130px 105px 0 10px;
    display: inline-block;
    vertical-align: top;
    text-align: right
  }
  .question-radio-random-3 .radio:not(checked)+label:nth-child(6) {
    margin: 130px 10px 0 105px;
    display: inline-block;
    vertical-align: top;
    text-align: left
  }
  .question-radio-random-3 .radio:not(checked)+label:before {
    width: 16px;
    height: 16px;
    font-size: 13px
  }
  .question-radio-random-3 .radio:not(checked)+label:nth-child(2):before {
    bottom: -12px;
    top: auto;
    left: 50%;
    margin-left: -11px
  }
  .question-radio-random-3 .radio:not(checked)+label:nth-child(4):before {
    bottom: auto;
    top: 32px;
    left: auto;
    right: -12px
  }
  .question-radio-random-3 .radio:not(checked)+label:nth-child(6):before {
    bottom: auto;
    top: 32px;
    right: auto;
    left: -3px
  }
  .question-radio-random-3 .radio:not(checked)+label:nth-child(4):after {
    content: "";
    background-image: url(img/triangle2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    width: 197px;
    height: 167px;
    top: -122px;
    right: -202px;
    position: absolute;
    margin-left: 7px;
    z-index: -1
  }
  .question-radio.question-duo .radio:not(checked)+label {
    float: none;
    margin: 20px 40px;
    width: 420px;
    display: inline-block;
    vertical-align: top
  }
  .question-radio.question-duo .radio:not(checked)+label:nth-child(2) {
    margin-right: 60px
  }
  .question-radio.question-duo .radio:not(checked)+label:nth-child(4) {
    margin-left: 60px
  }
  .question-radio.question-duo .radio:not(checked)+label:before {
    top: 30px;
    left: auto;
    bottom: auto
  }
  .question-radio.question-duo .radio:not(checked)+label:nth-child(2):before {
    right: -12px
  }
  .question-radio.question-duo .radio:not(checked)+label:nth-child(4):before {
    left: -1px
  }
  .question-radio.question-duo .radio:not(checked)+label:nth-child(2)::after {
    position: absolute;
    top: 39px;
    right: -120px;
    content: "";
    width: 120px;
    height: 11px;
    border-top: 3px solid rgba(255, 255, 255);
    z-index: 1
  }

  .background.color-background-3 .question-radio.question-duo .radio:not(checked)+label:nth-child(2)::after,
  .background.color-background-8 .question-radio.question-duo .radio:not(checked)+label:nth-child(2)::after {
    border-top: 3px solid rgba(0, 0, 0);
  }

  .question-radio.question-quadro .radio:not(checked)+label {
    float: none;
    margin: 20px 40px;
    width: 420px;
    display: inline-block;
    padding: 0;
    height: 60px;
  }
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(2),
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(4) {
    vertical-align: bottom;
    margin: 10px 0 25px;
  }
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(6),
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(8) {
    vertical-align: top;
    margin: 25px 0 10px;
  }
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(2),
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(6) {
    margin-right: 60px;
    text-align: right;
    padding-right: 20px;
  }
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(4),
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(8) {
    margin-left: 60px;
    text-align: left;
    padding-left: 20px;
  }
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(2):before,
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(6):before {
    bottom: auto;
    top: auto;
    left: auto;
    right: -12px
  }
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(4):before,
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(8):before {
    bottom: auto;
    top: auto;
    right: auto;
    left: -1px
  }
  .question-radio.question-quadro .radio:not(checked)+label:nth-child(6):after {
    content: "";
    background: url(img/quadro.png);
    background-size: 100%;
    width: 110px;
    height: 106px;
    top: -96px;
    left: 100%;
    position: absolute;
    margin-left: 7px;
    z-index: -1
  }
}

.policy,
.question-form .question-input .type label:nth-child(6) {
  right: 20px
}

.question,
.question button,
.question input {
  color: #fff
}

.question label {
  font-size: 2.4em;
  font-family: "MADE Evolve Sans EVO", sans-serif;
  margin: 20px
}

.question input[type=text], .question input[type=email] {
  padding: 15px;
  border: none;
  font-size: 3em;
  font-family: "MADE Evolve Sans EVO";
  background: 0 0;
  letter-spacing: .771em;
  color: #ffd943;
  border-bottom: 2px solid #ffd943;
}

.background.color-background-3 .question input[type=text], .background.color-background-8 .question input[type=text],
.background.color-background-3 .question input[type=email], .background.color-background-8 .question input[type=email] {
  color: #000;
  border-color: #d20000;
}

.question .question-text,
.question .question-text .text {
  font-family: "MADE Evolve Sans EVO", sans-serif
}

.question input[type=date] {
  background: rgba(255, 255, 255, 0)
}

.question select {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 3em;
  background: rgba(255, 255, 255, .2)
}

.question option {
  background: #48a3ec
}

.question .question-text {
  margin: -30px 170px 50px;
  padding: 0 20px;
  letter-spacing: .3em;
  color: #fff343;
  font-size: 4em
}

.question.question-dbl .question-text {
  letter-spacing: .771em
}

.question .question-text .text {
  color: #fff;
  letter-spacing: .187em;
  text-align: justify;
  text-transform: none;
  font-size: 21px
}
.question .btn,
.question .question-text .description {
  font-family: "MADE Evolve Sans EVO", sans-serif
}

.question .question-text .description {
  font-size: .5em
}

.question .question-text p {
  margin-bottom: 30px
}

.question .question-input{
  margin: 60px auto 40px
}

.question-color .question-input {
  margin: 200px auto 100px
}

.question .btn {
  border-radius: 5px;
  padding: 15px;
  font-size: 2em;
  margin: 10px
}

.question .date-input input {
  letter-spacing: normal;
  text-transform: uppercase;
  padding: 10px;
  margin: 0 70px;
  border-bottom: 2px solid transparent
}

.question .date-input input:focus,
.question-form .question-input .calendar~div input[type=text]:focus {
  border-bottom-color: #ffd943
}

.question .date-input-day,
.question .date-input-month {
  width: 60px
}

.question .date-input-year {
  width: 75px
}

.text-numerolog {
  max-width: 1500px;
  margin: 0 auto
}

.text-numerolog h2 {
  letter-spacing: .771em;
  margin-bottom: 70px
}

.question .text-numerolog .text p {
  margin-bottom: 0
}

.question-ritmomera {
  max-width: 1000px;
  margin: 0 auto
}

.question-ritmomera .down:before {
  content: "\f103";
  font-family: font-awesome;
  font-size: 1.7em;
  color: #fff;
  padding: 5px 20px
}

.question-ritmomera .text {
  font-size: 18px;
  font-family: 'PT Sans';
  text-align: left
}

.question-ritmomera .question-text {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px
}

.question-ritmomera .question-text-bigtext {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s
}

.question-ritmomera .question-text-bigtext-2 {
  margin-top: 100px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s
}

.question-text-bigtext-2+.question-input-bigtext,
.question-text-bigtext-2+.question-input-bigtext .down:before {
  display: none
}

.question-ritmomera .question-input-bigtext {
  background: url(img/ellipse.png);
  padding: 6px 0;
  background-size: 100%
}

.question-button-first .btn:first-child:not(.question-result .btn) {
  background-size: 100% 100%;
  min-width: 300px;
  padding: 15px 30px;
  font-size: 2.3em;
  opacity: .7;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: block;
  margin: 100px auto 80px;
  position: relative
}

.question-button-first .btn:nth-child(2),
.question-result .btn {
  font-family: "MADE Evolve Sans EVO", sans-serif;
  color: #fff343;
  font-size: 4em;
}

.question-button-first .btn:nth-child(2):hover,
.question-result .btn {
  opacity: .8
}

.question-form .question-text {
  letter-spacing: .339em
}

.question-form .question-input {
  max-width: 600px;
  margin: 0 auto
}

.question-form .question-input div {
  font-size: 1.6em;
  font-family: 'PT Sans';
  position: relative
}

.question-form .question-input .calendar {
  font-family: "MADE Evolve Sans EVO", sans-serif;
  font-size: 16px;
  letter-spacing: .339em;
  text-align: left;
  padding-left: 10px
}

.background.color-background-3 .question-form .question-input .calendar,
.background.color-background-8 .question-form .question-input .calendar {
  color: #000
}

.question-form .question-input .type+input {
  display: block;
  width: calc(100% - 20px);
  font-size: 16px;
  letter-spacing: .339em;
  padding: 0 0 20px;
  border-bottom: 2px solid #fff;
  margin: 0 10px 45px
}

.background.color-background-3 .question-form .question-input .type+input,
.background.color-background-8 .question-form .question-input .type+input {
  border-bottom-color: #000
}

.question-form .question-input .calendar:before {
  content: none
}

.question-form .question-input .calendar~div input[type=text] {
  letter-spacing: .2em;
  text-transform: uppercase;
  font-size: 25px;
  padding: 45px 0 0;
  border-bottom: 2px solid transparent;
  margin-right: 20px
}

.question-form .question-input .question-input__date,
.question-form .question-input .question-input__time {
  display: inline-block;
  width: calc(50% - 10px)
}

.question-form .question-input .question-input__date {
  text-align: left;
  margin-left: 10px
}

.question-form .question-input .question-input__time {
  text-align: right;
  margin-right: 10px
}

.question-form .question-input .question-input__date input {
  width: 110px;
}

.question-form .question-input .question-input__time input {
  width: 100px;
}

.question-form .question-input .question-input__date:after,
.question-form .question-input .question-input__time:after {
  font-family: font-awesome;
  font-size: 25px;
  color: #f6ed54
}

.question-form .question-input .question-input__date:after {
  content: "\f073"
}

.question-form .question-input .question-input__time:after {
  content: "\f017"
}

.question-form .question-input .type {
  padding: 30px 0 100px;
  position: relative
}

.question-form .question-input .type label {
  font-size: 1em;
  position: absolute;
  margin: 20px 0;
  top: 30px;
  text-align: center
}

.question-form .question-input .type .radio:checked+label:before,
.question-form .question-input .type label:before {
  position: static;
  border: none;
  background: 0 0!important;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: font-awesome;
  font-size: 35px;
  color: #fff
}

.logo,
.policy,
.sound {
  position: absolute
}

.question-form .question-input .type .radio:checked+label:before {
  color: #f6ed54
}

.background.color-background-3 .question-form .question-input .type .radio:checked+label:before,
.background.color-background-3 .question-form .question-input .type label:before,
.background.color-background-8 .question-form .question-input .type .radio:checked+label:before,
.background.color-background-8 .question-form .question-input .type label:before {
  color: #000
}

.background.color-background-3 .question-form .question-input .type .radio:checked+label:before,
.background.color-background-8 .question-form .question-input .type .radio:checked+label:before {
  color: #d20000
}

.question-form .question-input .type label:nth-child(2):before {
  content: "\f095";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1)
}

.question-form .question-input .type label:nth-child(4):before {
  content: "\f1fa"
}

.question-form .question-input .type label:nth-child(6):before {
  content: "\f17e"
}

.question-form .question-input .type label:nth-child(2) {
  left: 20px
}

.question-form .question-input .type label:nth-child(4) {
  left: 50%;
  margin-left: -25px
}

.question-form .radio:checked+label:before {
  font-size: 18px;
  text-align: center
}

.slide {
  text-align: center;
  overflow: hidden;
  font-size: 7px
}

.background {
  height: 100%;
  background: -webkit-radial-gradient(50% 25%, circle, #481053, #1d0a29 60%);
  background: -o-radial-gradient(50% 25%, circle, #481053, #1d0a29 60%);
  background: radial-gradient(circle at 50% 25%, #481053, #1d0a29 60%);
}

.logo,
.question-submit .btn path {
  -webkit-transition: .5s;
  -o-transition: .5s
}

.logo {
  width: 150px;
  top: 30px;
  left: 40px;
  background: url(img/logo.png) center no-repeat;
  height: 93px;
  background-size: 100%;
  cursor: pointer;
  transition: .5s
}

.logo:hover {
  opacity: 1
}

.logo2 {
  width: 300px
}

.small {
  font-size: 75%
}

.text {
  font-size: 18px;
  font-family: 'PT Sans';
  text-align: left
}

.text p {
  margin-bottom: 10px
}

h2 {
  margin-bottom: 20px
}

.hide {
  display: none!important
}

.calendar:before {
  content: "\f073";
  font-family: font-awesome;
  font-size: 1.7em;
  color: #fff
}

.btn-triple {
  margin: 0 20px
}

.btn-triple path {
  fill: rgba(255, 255, 255, .2);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s
}

.btn-triple.active path {
  fill: #fff343;
}

.question-submit {
  margin-top: 50px
}

.question-start .question-submit {
  margin-top: 0
}

.question-submit .btn {
  display: block;
  margin: 10px auto;
}

.question-submit .btn path {
  stroke: rgba(255, 255, 255, .7);
  fill: none;
  transition: .5s
}

.question-submit .btn g:nth-child(1) path,
.question-submit .btn g:nth-child(5) path {
  fill: rgba(255, 255, 255, .7);
  stroke: none
}

.question-submit .btn:hover path {
  stroke: rgba(255, 255, 255, 1);
  fill: none
}

.question-submit .btn:hover g:nth-child(1) path,
.question-submit .btn:hover g:nth-child(5) path {
  fill: rgba(255, 255, 255, 1);
  stroke: none
}

.question-submit.disable .btn path {
  stroke: rgba(255, 255, 255, .3);
  fill: none
}

.question-submit.disable .btn g:nth-child(1) path {
  fill: rgba(255, 255, 255, .3);
  stroke: none
}

.question-submit.disable .btn g:nth-child(5) path {
  fill: none;
  stroke: none
}

.question-submit.disable .btn:hover path {
  fill: none;
  stroke: rgba(255, 255, 255, .3)
}

.question-submit.disable .btn:hover g:nth-child(1) path {
  fill: rgba(255, 255, 255, .3);
  stroke: none
}

.question-submit.disable .btn:hover g:nth-child(5) path {
  fill: none;
  stroke: none
}

.policy {
  color: rgba(255, 255, 255, .4);
  font-family: 'PT Sans';
  font-size: 1.4em;
  bottom: 20px
}

.policy:hover {
  color: rgba(255, 255, 255, .8)
}

.sound {
  width: 35px;
  height: 35px;
  top: 30px;
  right: 40px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

.sound:hover {
  opacity: .7
}

.sound.unmute {
  background: url(img/unmute.png) no-repeat;
  background-size: 100%
}

.sound.mute {
  background: url(img/mute.png) no-repeat;
  background-size: 100%
}

.progress-bar {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 100px
}

.progress-bar span {
  width: 5px;
  height: 5px;
  border: 1px solid #ffd943;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 15px;
  display: inline-block
}

.progress-bar span.active {
  background: #ffd943
}

.sfera {
  font-family: "Poiret One", sans-serif;
  width: 200px;
  margin: 100px auto 30px;
  font-size: 1.3em;
  letter-spacing: 0.3em;
}

.sfera:before {
  content: "";
  background-repeat: no-repeat;
  width: 92px;
  height: 70px;
  position: absolute;
  margin-top: -80px;
  margin-left: -46px
}

.sfera.love:before {
  background: url(/img/love.png)
}

.sfera.money:before {
  background: url(/img/money.png)
}

.sfera.health:before {
  background: url(/img/health.png)
}

.sfera.selfknowledge:before {
  background: url(/img/selfknowledge.png)
}

.sfera div {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff
}

.arrow--play {
  width: 66px;
  height: 48px;
  display: block;
  margin: 0 auto;
  z-index: 999;
}
.arrow--play svg {
  width: 66px;
  height: 48px;
}

button .arrow--play svg .cls-2 {
  stroke: #fff;
  fill: transparent;
  transition: fill .5s;
}

button:hover .arrow--play svg .cls-2 {
  stroke: #ffdb00;
  fill: #ffdb00;
}

.question--countdown div {
  text-transform: none
}

.question--countdown .qc__time {
  font-size: 65px;
  visibility: hidden;
}

.question--countdown .qc__time span {
  font-weight: 500;
  color: #fff
}

.question--countdown .question-text>* {
  margin-bottom: 70px;
  letter-spacing: .3em
}

button.calendar::before {
  color: #fff343
}

.question-duo .radio:not(checked)+label:nth-child(2){
  text-align: right;
}
.question-duo .radio:not(checked)+label:nth-child(4){
  text-align: left;
}
.question .question-error-msg {
  letter-spacing: .3em;
  font-size: 2.4em;
  font-family: "MADE Evolve Sans EVO", sans-serif;
  display: block;
  margin: 0 auto;
  color: #fff343;
  display: none;
}
.color-background-3 .question .question-error-msg, 
.color-background-8 .question .question-error-msg {
  color: #d20000
}
@media (max-width:1200px) {
  .question.question-gender .radio:not(checked)+label {
    width: 100px;
    display: inline-block;
    padding: 0;
    margin: 0 auto
  }
  .question.question-gender .radio:not(checked)+label:before {
    left: 50%;
    margin-left: -11px
  }
  .question.question-gender .radio:not(checked)+label:after {
    left: 50%;
    margin-left: -25px
  }
  .question.question-start {
    margin-top: 0
  }
  .question-ritmomera {
    margin-top: 150px!important
  }
  .progress-bar {
    max-width: 80%!important;
    margin: 30px auto!important;
    top: 0!important
  }
  .question.question-radio .radio:checked+label,
  .question.question-radio .radio:not(checked)+label {
    border: none;
    text-align: left;
    max-width: 350px;
    display: block;
    padding: 0 30px;
    margin: 50px auto
  }
  .question.question-radio .radio:checked+label:before,
  .radio:not(checked)+label:before {
    top: calc(50% - 10px);
    left: 0;
    margin: 0;
    content: ""
  }
}

@media (max-width:900px) {
  .slide {
    position: relative;
    overflow: auto;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin-top: -8px
  }
  .question .question-text {
    font-size: 3.8em;
    margin: 0
  }
  .question.question-color .question-text {
    margin-bottom: 10px!important
  }
  .question.question-color .question-input {
    width: 300px;
    margin: 0 auto
  }
  .question.question-color .question-input::after {
    content: none
  }
  .question-color .color {
    margin: 25px
  }
  .question-color .color-text {
    display: none
  }
  .slide .logo {
    width: 130px;
    height: 80px;
    left: 50%;
    margin-left: -65px
  }
  .slide .logo2 {
    width: 250px
  }
  .question {
    margin-top: 100px
  }
  .question.question-radio .question-input {
    margin: 0 auto;
    padding: 0 20px
  }
  .question.question-dbl .question-input {
    margin: 60px auto 40px;
    padding-left: 60px;
  }
  .question.question-gender .question-input {
    padding-left: 0;
  }
  .fullpage-wrapper {
    overflow: scroll
  }
  .question-ritmomera .question-text-bigtext {
    margin-top: 150px
  }
  .question-ritmomera .question-input-bigtext {
    background: 0 0!important;
    padding: 6px 0
  }
}

@media (max-width:768px) {
  .background.color-background-1 {
    background: #ff7c3a;
    background: -webkit-linear-gradient(top, #ff7c3a 0, #d70046 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff7c3a), to(#d70046));
    background: -o-linear-gradient(top, #ff7c3a 0, #d70046 100%);
    background: linear-gradient(to bottom, #ff7c3a 0, #d70046 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c3a', endColorstr='#d70046', GradientType=0)
  }
  .background.color-background-2 {
    background: #f7931e;
    background: -webkit-linear-gradient(top, #f7931e 0, #ff4f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#f7931e), to(#ff4f00));
    background: -o-linear-gradient(top, #f7931e 0, #ff4f00 100%);
    background: linear-gradient(to bottom, #f7931e 0, #ff4f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#ff4f00', GradientType=0);
    background-size: auto
  }
  .background.color-background-3 {
    background: #ffffff;
    background: -moz-linear-gradient(45deg, #ffffff 0%, #fadb0a 100%);
    background: -webkit-linear-gradient(45deg, #ffffff 0%,#fadb0a 100%);
    background: linear-gradient(45deg, #ffffff 0%,#fadb0a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fadb0a',GradientType=1 );
  }
  .background.color-background-4 {
    background: #92ff00;
    background: -moz-linear-gradient(45deg, #92ff00 0%, #002200 100%);
    background: -webkit-linear-gradient(45deg, #92ff00 0%,#002200 100%);
    background: linear-gradient(45deg, #92ff00 0%,#002200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92ff00', endColorstr='#002200',GradientType=1 );
  }
  .background.color-background-5 {
    background: #012fff;
    background: -webkit-linear-gradient(45deg, #012fff 10%, #3eb5f1 110%);
    background: -o-linear-gradient(45deg, #012fff 10%, #3eb5f1 110%);
    background: linear-gradient(45deg, #012fff 10%, #3eb5f1 110%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012fff', endColorstr='#3eb5f1', GradientType=1)
  }
  .background.color-background-6 {
    background: #0900e5;
    background: -moz-linear-gradient(45deg, #0900e5 0%, #00001c 100%);
    background: -webkit-linear-gradient(45deg, #0900e5 0%,#00001c 100%);
    background: linear-gradient(45deg, #0900e5 0%,#00001c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0900e5', endColorstr='#00001c',GradientType=1 );
  }
  .question .question-text,
  .question.question-dbl .question-text,
  .question.question-start .question-text {
    letter-spacing: .15em;
    font-size: 2.5em
  }
  .question-button-first .btn:nth-child(2),
  .question-result .btn {
    font-size: 2.5em;
  }
  .question .date-input input {
    margin: 0 19px
  }
  .question .question-text .text {
    font-size: 16px
  }
  .btn-triple {
    margin: 0 3px
  }
  .question-form .question-input .calendar~div input[type=text],
  .question-form .question-input .question-input__time input {
    margin-right: 10px
  }
  .question-form .question-input .calendar,
  .question-form .question-input .type+input {
    letter-spacing: 1
  }
  .question input[type=text], .question input[type=email],
  .question--countdown .question-text>*,
  .text-numerolog h2 {
    letter-spacing: .2em
  }
  .question--countdown .question-text .qc__time {
    font-size: 40px
  }
  .question.question-dbl .radio:checked+label,
  .question.question-dbl .radio:not(checked)+label {
    display: inline-block;
    margin: 25px 0
  }
  .question.question-radio .radio:checked+label,
  .question.question-radio .radio:not(checked)+label {
    margin: 25px 0
  }
  .progress-bar {
    display: none
  }
  .question.question-gender .radio:not(checked)+label:after {
    left: calc(50% + 10px)
  }
  .sound {
    width: 25px;
    height: 25px;
    top: 25px;
    right: 15px;
    margin-bottom: 50px
  }
  .slide .logo2 {
    width: 200px
  }
  .question .btn {
    padding: 5px;
    margin: 5px
  }
  .question-submit .btn {
    display: block;
    margin: 5px auto;
  }
  .question.question-start .question-text {
    font-size: 3.5em
  }
  .question-button-first .btn:first-child:not(.question-result .btn) {
    margin: 10px auto
  }
  .question.question-gender .question-input {
    margin: 100px auto 50px
  }
  .color {
    width: 25px;
    height: 25px
  }
  .question-color .color {
    margin: 15px 26px
  }
  .question-submit {
    margin-top: 25px
  }
  .question.question-color .question-input {
    margin: 45px auto 0
  }
  .question.question-dateBirth .question-input input {
    font-size: 18px;
    margin: 0 10px
  }
  .question.question-dateBirth .question-input {
    margin: 70px auto 40px
  }
  .text-numerolog h2 {
    margin-bottom: 15px
  }
  .question .question-text .text {
    letter-spacing: 0
  }
  .question-form .question-input .type+input {
    margin-bottom: 25px
  }
  .question-form .question-input .calendar~div input[type=text] {
    font-size: 18px
  }
  .policy {
    bottom: 5px;
    right: 10px
  }
  .question--countdown .question-text>* {
    margin-bottom: 40px
  }
  .question-form .question-input .question-input__date input,
    .question-form .question-input .question-input__time input {
    width: 80px;
  }
}

@media screen and (max-height: 700px) {
  .question .question-input {
    margin: 25px auto 20px;
  }
  .question.question-radio-random-2 .question-input {
    margin-top: 75px;
  }
  .question-submit {
    margin-top: 20px;
  }
  .progress-bar {
    top: 10px; 
  }
}