{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
	{{ object.text|length > 250 ? object.text|striptags|slice(0, 250) ~ '...' : object.text|striptags  }}       
{% endblock %}